<!DOCTYPE html>
<html>
<head>
<title>View Course</title>
</head>
<body>
	<h3 th:text="'ID = ' + ${course.id_course}">Student NPM</h3>
	<h3 th:text="'Nama = ' + ${course.nama}">Student Name</h3>
	<h3 th:text="'SKS = ' + ${course.sks}">Student GPA</h3>
	
	<h3>Mahasiswa yang mengambil</h3>
		<ul th:each="student,iterationStatus: ${course.student}">
			<li th:text="${student.npm} + ' -' + ${student.name} ">Nama kuliah-X SKS</li>
		</ul>
	
</body>
</html>